@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #eff3f6;
}

.friends {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.stat-list {
  display: flex;
  list-style: none;
  
}

.stat-list li:first-child {
  border-radius: 0 0 0 5px;
}

.stat-list li:last-child {
  border-radius: 0 0 5px 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 100px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.title {
  height: 100px;
  width: 500px;
  text-align: center;
  line-height: 100px;
  margin: 0;
  background-color: #ffff;
  border-radius: 5px 5px 0 0;
}

.label-stats,
.percentage {
  color: #eff3f6;
}
